<div class="footer d-flex justify-content-between align-items-center p-3 bg-light">
	<div class="adress">
		<p>45 rue du loup, 33300 Bordeaux</p>
	</div>
	<div class="social-icons">
		<a href="https://www.instagram.com/votrecompte" class="text-dark me-3" target="_blank" rel="noopener noreferrer">
			<i class="fab fa-instagram"></i>
		</a>
		<a href="https://www.facebook.com/votrecompte" class="text-dark me-3" target="_blank" rel="noopener noreferrer">
			<i class="fab fa-facebook"></i>
		</a>
	</div>
	<div class="legal-terms">
		chez hibou© 2024
		<a href="/legal-terms" class="text-dark">Legal Terms</a>
	</div>
</div>
