<aside class="col-3 border border-light bg-white p-2">
	<article class="card mb-3">
		<div class="card-header">
			Catégories
		</div>
		<div class="card-body">
			{% for categorie in categories %}
				{{ categorie.name }}
			{% endfor %}
			<div></article>
		</aside>
