{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="container text-center mt-3">
		<section class="row">
			<div class="col-md-6">
				<p class="mb-2">Bienvenue dans notre restaurant</p>
			</div>
			<div class="col-md-6 text-md-end">
				<a href='{{path('app_products')}}' class="btn btn-primary">Découvrir nos menus</a>
			</div>
		</section>
		<div class="col-12 mb-6 mt-3">
			<video width="100%" height="auto" autoplay loop muted>
				<source src="{{ asset('build/images/tranche.mp4') }}" type="video/mp4">
				Votre navigateur ne prend pas en charge la lecture de la vidéo.
			</video>
		</div>
	</main>
{% endblock %}
