<h1>Confirmez votre adresse e-mail</h1>

<p>Bonjour,</p>

<p>Pour confirmer votre adresse e-mail, veuillez cliquer sur le lien suivant :</p>

<a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>

<p>Ce lien expirera le
	{{ expiresAt|date('Y-m-d H:i:s') }}.</p>

<p>Merci,</p>
<p>L'équipe</p>
