{% extends 'base.html.twig' %}

{% block title %}Chez Hibou
{% endblock %}


{% block body %}
	<div class="container">
		<section class="row">
			<div class="col-md-8 offset-md-2">
				<h1>Bienvenue au Restaurant Chez Hibou</h1>
				<p>Situé au cœur du centre-ville, notre restaurant vous invite à une expérience gastronomique authentique au cœur de la Chine. Chez nous, la tradition culinaire rencontre l'élégance moderne.</p>

				<h2>Nos Spécialités</h2>
				<p>Découvrez nos délicieuses spécialités chinoises, préparées avec soin par nos chefs expérimentés. Du canard laqué croustillant aux saveurs délicates des dim sum, chaque plat est une invitation au voyage culinaire.</p>

				<h2>Qualité des Plats</h2>
				<p>Nous mettons un point d'honneur à utiliser des ingrédients frais et de qualité pour garantir des saveurs authentiques dans chacun de nos plats. Chaque bouchée est une expérience unique.</p>

				<h2>Ambiance Accueillante</h2>
				<p>Notre restaurant offre une ambiance chaleureuse et conviviale, parfaite pour des repas en famille, entre amis ou pour des occasions spéciales. Laissez-vous immerger dans l'atmosphère unique de notre établissement.</p>


			</div>
		</section>
	</div>
{% endblock %}
